<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>categories</key>
	<array>
		<dict>
			<key>category</key>
			<string>Make Up</string>
			<key>subcategories</key>
			<array>
				<string>Face Makeup</string>
				<string>Eye Makeup</string>
				<string>Lips</string>
				<string>Tools &amp; Bags</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Skin Care</string>
			<key>subcategories</key>
			<array>
				<string>Cleanse</string>
				<string>Moisturize</string>
				<string>Treatments</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Fragrance</string>
			<key>subcategories</key>
			<array>
				<string>Men&apos;s Fragrance</string>
				<string>Women&apos;s Fragrance</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Bath and Body</string>
			<key>subcategories</key>
			<array>
				<string>Lotions and Cream</string>
				<string>Shower and Bath</string>
				<string>Suncare</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Nails</string>
			<key>subcategories</key>
			<array>
				<string>Solid Color Nail Polish</string>
				<string>Kits/Sets</string>
				<string>Special Effects</string>
				<string>Treatment and Tools</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Hair</string>
			<key>subcategories</key>
			<array>
				<string>Styling Products and Tools</string>
				<string>Shampoo and Conditioner</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Baby and Toddler Clothing</string>
			<key>subcategories</key>
			<array>
				<string>Boys Clothing</string>
				<string>Girls Clothing</string>
				<string>Accessories</string>
				<string>Underwear and Socks</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Feeding</string>
			<key>subcategories</key>
			<array>
				<string>Beverages</string>
				<string>Food</string>
				<string>Baby Formula</string>
				<string>Feeding Accessories</string>
				<string>Booster Seats</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Diapering</string>
			<key>subcategories</key>
			<array>
				<string>Diaper Accessories</string>
				<string>Diapers</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Bedding and Decor</string>
			<key>subcategories</key>
			<array>
				<string>Lamp and Night Lights</string>
				<string>Bedding Separates</string>
				<string>Bedding Set</string>
				<string>Wall Decorations</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Seating</string>
			<key>subcategories</key>
			<array>
				<string>Booster Car Seats</string>
				<string>Car Seat Accessories</string>
				<string>Travel Sets</string>
				<string>Strollers</string>
				<string>Booster Feeding Seats</string>
				<string>Potty Seats and Step Tools</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Activites and Toys</string>
			<key>subcategories</key>
			<array>
				<string>Bikes</string>
				<string>Sleeping Toys</string>
				<string>Gyms and Playmats</string>
				<string>Learning Toys</string>
				<string>Toys</string>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<string>Health and Safety</string>
			<key>subcategories</key>
			<array>
				<string>Gates</string>
				<string>Baby Monitors</string>
				<string>Baby Proofing</string>
				<string>Grooming, Healthcare, &amp; Skincare Essentials</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
