<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>properties</key>
	<dict>
		<key>size</key>
		<dict>
			<key>Boys Clothing</key>
			<array>
				<string>12 months</string>
				<string>18 months</string>
				<string>24 months</string>
				<string>3T</string>
				<string>4T</string>
				<string>5T</string>
			</array>
			<key>Girls Clothing</key>
			<array>
				<string>12 months</string>
				<string>18 months</string>
				<string>24 months</string>
				<string>3T</string>
				<string>4T</string>
				<string>5T</string>
			</array>
			<key>Underwear and Socks</key>
			<array>
				<string>0-24 months</string>
				<string>2T</string>
				<string>3T</string>
				<string>4T</string>
				<string>5T</string>
				<string>One Size</string>
			</array>
			<key>Diapers</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
			</array>
		</dict>
		<key>volume</key>
		<dict>
			<key>Cleanse</key>
			<array>
				<string>25 ml</string>
				<string>50 ml</string>
				<string>100ml</string>
				<string>150ml</string>
				<string>175 ml</string>
			</array>
			<key>Moisturize</key>
			<array>
				<string>50 ml</string>
				<string>100 ml</string>
				<string>150 ml</string>
				<string>200 ml</string>
			</array>
			<key>Treatments</key>
			<array>
				<string>100 ml</string>
				<string>200 ml</string>
			</array>
			<key>Men&apos;s Fragrance</key>
			<array>
				<string>50 ml</string>
				<string>100 ml</string>
				<string>150 ml</string>
				<string>200 ml</string>
			</array>
			<key>Women&apos;s Fragrance</key>
			<array>
				<string>50 ml</string>
				<string>100 ml</string>
				<string>150 ml</string>
				<string>200 ml</string>
			</array>
			<key>Lotions and Creams</key>
			<array>
				<string>100 ml</string>
				<string>200 ml</string>
				<string>300 ml</string>
			</array>
			<key>Shower and Bath</key>
			<array>
				<string>500 ml</string>
				<string>750 ml</string>
			</array>
			<key>Suncare</key>
			<array>
				<string>500 ml</string>
				<string>750 ml</string>
			</array>
			<key>Nail Polish</key>
			<array>
				<string>100 ml</string>
				<string>200 ml</string>
			</array>
			<key>Special Effects</key>
			<array>
				<string>100 ml</string>
				<string>125 ml</string>
				<string>150 ml</string>
			</array>
			<key>Beverages</key>
			<array>
				<string>750 ml</string>
				<string>1 L</string>
			</array>
			<key>Food</key>
			<array>
				<string>750 ml</string>
				<string>1 L</string>
			</array>
			<key>Baby Formula</key>
			<array>
				<string>750 ml</string>
				<string>1.5 L</string>
			</array>
			<key>Face Makeup</key>
			<array>
				<string>100 ml</string>
				<string>150 ml</string>
				<string>250 ml</string>
			</array>
			<key>Shampoo and Conditioner</key>
			<array>
				<string>750 ml</string>
				<string>1 L</string>
			</array>
		</dict>
		<key>count</key>
		<dict>
			<key>Treatments</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
			<key>Special Effects</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
			<key>Hair Accessories</key>
			<array>
				<string>5</string>
				<string>10</string>
				<string>15</string>
				<string>20</string>
			</array>
			<key>Accessories</key>
			<array>
				<string>5</string>
				<string>10</string>
				<string>20</string>
			</array>
			<key>Beverages</key>
			<array>
				<string>6</string>
				<string>12</string>
				<string>18</string>
				<string>24</string>
			</array>
			<key>Food</key>
			<array>
				<string>5</string>
				<string>10</string>
			</array>
			<key>Baby Formula</key>
			<array>
				<string>1</string>
				<string>4</string>
				<string>8</string>
				<string>12</string>
			</array>
			<key>Feeding Accessories</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
			<key>Diapers</key>
			<array>
				<string>6</string>
				<string>12</string>
				<string>18</string>
				<string>24</string>
			</array>
			<key>Diaper Accessories</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
			<key>Underwear and Socks</key>
			<array>
				<string>2</string>
				<string>4</string>
				<string>6</string>
				<string>8</string>
				<string>10</string>
				<string>12</string>
			</array>
		</dict>
		<key>age</key>
		<dict>
			<key>Learning Toys</key>
			<array>
				<string>Birth</string>
				<string>12 months</string>
				<string>18 months</string>
				<string>24 months</string>
				<string>3-4 years</string>
			</array>
			<key>Gates</key>
			<array>
				<string>12 months</string>
				<string>18 months</string>
				<string>24 months</string>
				<string>2-4 years</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
